body {
  font-family: sans-serif;
}
.slaptrash {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slaptrash > div {
  position: absolute;
  display: table;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.slaptrash > div > div {
  display: table-cell;
  vertical-align: middle;
}
.slaptrash div.solid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slaptrash img {
  min-width: 100%;
  min-height: 100%;
}
.slaptrash div.DIV,
.slaptrash div.P,
.slaptrash div.H1,
.slaptrash div.H2,
.slaptrash div.H3,
.slaptrash div.H4,
.slaptrash div.H5,
.slaptrash div.H6 {
  padding: 24px;
}
.slaptrash img,
.slaptrash div.H1,
.slaptrash div.H2,
.slaptrash div.H3,
.slaptrash div.H4,
.slaptrash div.H5,
.slaptrash div.H6 {
  text-align: center;
}
.slaptrash div.DIV,
.slaptrash div.P {
  font-size: 40px;
}
.slaptrash div.H1 {
  font-size: 92px;
}
.slaptrash div.H2 {
  font-size: 80px;
}
.slaptrash div.H3 {
  font-size: 68px;
}
.slaptrash div.H4 {
  font-size: 50px;
}
.slaptrash div.H5 {
  font-size: 30px;
}
.slaptrash div.H6 {
  font-size: 14px;
}
.slaptrash iframe.SOUND {
  border: none;
  width: 0px;
  height: 0px;
}
.slaptrash div.TIMER {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 0%;
}
.slaptrash div.START {
  display: none;
}
.slaptrash .paused {
  background-color: rgba(0, 0, 0, .4);
}
.slaptrash .paused div.START {
  display: block;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("https://kickscondor.github.io/images/TxzC70f.png") no-repeat;
}
.slaptrash > div.overlay {
  pointer-events: auto;
  cursor: pointer;
}
.slaptrash > div.stopped {
  cursor: default !important;
}

//
// Animations
//
@keyframes slapanimtrail {
  0% { transform:translateY(50%) scale(0); }
  50% { transform:translateY(-20%) scale(0.7); }
  100% { transform:translateY(0%) scale(1.0); }
}

@keyframes slapanimspin {
  0% { transform:rotate(0) scale(0); }
  50% { transform:rotate(360deg) scale(1.0); }
  100% { transform:rotate(720deg) scale(0); }
}

@keyframes slapanimerratic {
  0% { transform:rotate(0) scale(1); }
  20% { transform:rotate(1deg) scale(1); }
  40% { transform:rotate(0deg) scale(1.03); }
  60% { transform:rotate(3deg) scale(0.97); }
  80% { transform:rotate(0deg) scale(1.03); }
  100% { transform:rotate(1deg) scale(0.97); }
}
